
.DS_Store
../script/__pycache__
../script/cources
../scripts/__pycache__/mongoDB_key.cpython-37.py
../scripts/cources/Campusmate0.html
../scripts/cources/Campusmate1.html
../scripts/cources/Campusmate2.html
../scripts/cources/Campusmate3.html
